<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1"/>
                <title>{{page.title}}</title>
                {% include /structure/css.html %}
                {% seo %}
                
    </head>
    <body>        
       
       {% include /structure/navigation.html %}
       
        <div class="container-fluid content">
            <div class="row">
                <div class="col-md-12">                    
                    {{ content }}
                </div>
            </div>
        </div>
            
        {% include /structure/footer.html %}
    </body>
</html>